#header-wrapper {
    background: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid #183f81;
    border-right: 1px solid #183f81;
    padding: 0px 1px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  text-transform: none;
  color: #060606;
  font-weight: 200;
}

#sidebar hr {
    border-bottom: 1px solid white;
}

#footer {
  padding: 0 1rem;
  color: #b3b3b3;
  font-size: 13px;
}
